html{
    background-color: rgb(227, 204, 171);
    font-family: 'Sriracha', cursive;
}
/* body{
    text-align: center;
} */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    height: 3em;
    background-color: rgb(45, 118, 182);
    padding-right: 40px;
    padding-left: 40px;
}

.navbar-logo{
    height: 3em;
    width: 3em;
}

.object-navbar{
    align-items: left;
    border-bottom: 1.5px solid #000;
}

.site-header{
    display: block;
}

.page-header{
    text-shadow: 0px 2px 10px #615a5a;
}

img.site-logo{
    float: left;
    height: 142px;
    width: 200px;
}

.object-title{
    background-color: aqua;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}

ul{
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #000;
    text-align: left;
}

li{
    display: inline;
    margin: 0px 3px;
    padding: 10px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: darkgray;
}
