<form method="post" action="/team_member/new">
    <label>Name: </label><input type="text" name="name" placeholder="Name"><br>
    <label>Phone Number: </label><input type="text" name="phone_number" placeholder="(555) 555-5555">
    <h3>Highest Education: </h3>
        <input type="checkbox" name="high_school"><label>High School/GED</label> <input type="checkbox" name="Bachelors"><label> Bachelors</label> <input type="checkbox" name="Masters"><label>Masters</label> <input type="checkbox" name="PhD"><label>PhD</label>
    <input type="submit" value="Submit">
</form>