<% if @error %>
    <%= @error %>
<% end %>
<br><br>

<form method="POST" action="/login">
    <label>Username/Email: </label><input type="text" name="user" placeholder="Username/Email"><br>
    <label>Password: </label><input type="password" name="password" placeholder="Password"><br>
    <input type="submit" value="submit">
</form>