<div class="object-navbar">
<p>Go To: <a href="/dig_sites">Dig Sites</a> > <a href="/dig_sites/<%= @object.level.unit.dig_site.id%>">Units</a> > <a href="/units/<%= @object.level.unit.id%>">Levels</a> > <a href="/levels/<%= @object.level.id %>">Artifacts</a></p>
</div>