<div class="navbar">
    <img class="navbar-logo" src="http://www.pngmart.com/files/4/Archaeologist-Transparent-PNG.png">
    <a href="/">Home</a>
    <a href="/users/<%= current_user.id %>">Account</a>
    <a href="/logout">Logout</a>
</div>