<h3><%= @user.display_name%>'s Dig Sites:</h3>

<% @user.dig_sites.each do |dig_site| %>
    <li><a href="/dig_sites/<%= dig_site.id %>"><%= dig_site.name %>, <%= dig_site.location %></a></li>
<% end %>