<!doctype html>
<html>
  <head>
    <title>AADB</title>
  </head>
  <body>

    <div class="container">
      <h1>American Archaeological Database</h1>
      <%= render_navbar %>
      <%= render_object_navbar(@object) %>
      <%= yield %>
    </div>

  </body>
</html>
