<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="/images/tab_icon.png">
    <title>AADB</title>
  </head>
  <body>

    
    <div class="site-header">
      <a class="site-header" href="/"><h1 class="page-header"><img class="site-logo" src="https://www.pinclipart.com/picdir/big/294-2941144_iron-hill-archaeology-festival-set-for-may-6th.png" alt="Page Logo" title="Archaeologist searching through sifted dirt for artifacts.">American Archaeological Database</h1></a>
    </div>
    <%= render_navbar %>
    <%= render_object_navbar(@object) %>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
