<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>AADB</title>
  </head>
  <body>

    <div class="container">
      <img class="site-logo" src="https://www.pinclipart.com/picdir/big/294-2941144_iron-hill-archaeology-festival-set-for-may-6th.png">
      <h1 class="page-header">American Archaeological Database</h1>
      <%= render_navbar %>
      <%= render_object_navbar(@object) %>
      <%= yield %>
    </div>

  </body>
</html>
