<!doctype html>
<html>
  <head>
    <title>AADB</title>
  </head>
  <body>

    <div class="container">
      <h1>American Archaeological Database</h1>
      <div class="links">
        <h5><a href="/">Go Home</a>
        <% if logged_in? %> 
          | <a href="/logout">Log Out</a>
          | <a href="/users/<%= current_user.id %>">Account</a>
        <% end %></h5>
      </div>
      <%= yield %>
    </div>

  </body>
</html>
