<!doctype html>
<html>
  <head>
    <title>AADB</title>
  </head>
  <body>

    <div class="container">
      <h1>American Archaeological Database</h1><h5><a href="/">Go Home</a></h5>
      
       <%= yield %>
    </div>

  </body>
</html>
